@charset "UTF-8";
.wrapx1200 {
  width: 1200px;
  margin: 0 auto;
}

/*面包屑*/
.index__breadcrumbs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  line-height: 24px;
  padding: 20px 0;
}
.index__breadcrumbs a {
  color: #3B3E40;
}
.index__breadcrumbs li.index__breadcrumbs_item {
  position: relative;
  padding: 0px 10px;
}
.index__breadcrumbs li.index__breadcrumbs_item::before {
  content: '/';
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.index__breadcrumbs li.first-item::before {
  content: '/';
  display: none;
}

a.a-click {
  color: #1897f2;
}

/*product-container*/
.product-container {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
}
.product-container .slider-container {
  width: 600px;
}
.product-container .slider-container .style__slider-ctrl {
  display: none;
  width: 100%;
}
.product-container .slider-container .style__slider-container {
  width: 100%;
  height: 400px;
  margin-bottom: 64px;
}
.product-container .slider-container .style__slider-container .img-responsive {
  cursor: zoom-in;
}
.product-container .slider-container .style__slider-container .style__slides {
  position: relative;
  width: 100%;
  height: 100%;
}
.product-container .slider-container .style__slider-container .style__slides li.style__slides-item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 600px;
  height: 400px;
}
.product-container .slider-container .style__slider-container .style__slides li.style__slides-item button.product-img {
  width: 600px;
  height: 400px;
  padding: 0;
  border: none;
  border-radius: unset;
}
.product-container .slider-container .style__slider-container .style__slides li.style__slides-item button.product-img img {
  width: 600px;
  height: 400px;
}
.product-container .slider-container .style__slider-container .style__slides li.style__slides-item-active {
  z-index: 100;
}
.product-container .slider-container .style__pagings-container {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  position: relative;
  overflow: hidden;
}
.product-container .slider-container .style__pagings-container .style__paginations {
  width: 140%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  left: 0;
}
.product-container .slider-container .style__pagings-container .style__paginations li {
  opacity: 0.8;
  transition: all 0.5s;
}
.product-container .slider-container .style__pagings-container .style__paginations li:hover {
  opacity: 1;
}
.product-container .slider-container .style__pagings-container .style__paginations .style__paging-item-active {
  opacity: 1 !important;
}
.product-container .slider-container .style__pagings-container .style__paginations li.style__paging-item {
  height: 40px;
  width: 60px;
  margin-right: 16px;
}
.product-container .slider-container .style__pagings-container .style__paginations li.style__paging-item img {
  height: 100%;
  width: 100%;
}
.product-container .slider-container .style__pagings-container .style__paginations li.style__videoItem {
  height: 40px;
  width: 76px;
  margin-right: 16px;
  cursor: pointer;
}
.product-container .slider-container .style__pagings-container .style__paginations li.style__videoItem span {
  transition: all 0.3s;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding-left: 10px;
  position: relative;
  color: #333;
}
.product-container .slider-container .style__pagings-container .style__paginations li.style__videoItem span::after {
  transition: all 0.3s;
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 5px solid transparent;
  border-left-color: #333;
}
.product-container .slider-container .style__pagings-container .style__paginations button {
  padding: 0;
  border: none;
  outline: none;
}
.product-container .slider-container .style__pagings-container .style__paginations .active_button {
  min-width: 60px;
  position: absolute;
  height: 2px;
  background-color: #000000;
  bottom: 0;
  left: 0;
}
.product-container .slider-container .style__pagings-container div.style__paginations-btn {
  position: absolute;
  right: 0;
  top: 0;
}
.product-container .slider-container .style__pagings-container div.style__paginations-btn .btn {
  width: 16px;
  line-height: 40px;
  height: 40px;
  font-weight: 400;
  padding: 0 16px;
  display: block;
  float: left;
  background-color: #fff;
}
.product-container .info-container {
  width: 500px;
}
.product-container .info-container .info-section .product-title {
  float: left;
  margin-bottom: 24px;
}
.product-container .info-container .info-section .more {
  float: right;
}
.product-container .info-container .info-section .product-title2 .style__title {
  float: left;
  margin-bottom: 16px;
}

.product-suit-list .product-suit-item {
  border-color: #1890ff;
  border-radius: 10px;
  background: #e6f7ff;
  padding: 15px 23px;
  width: 490px;
  border: 2px solid #1897f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-suit-list .product-suit-item .product-suit {
  flex: 1;
  margin-left: 20px;
  text-align: left;
}
