body,
html,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
li,
ul,
ol,
dl,
dd,
img,
input,
select,
textarea,
fieldset,
legend {
    margin: 0;
    padding: 0;
}

body {
    font: 12px "微软雅黑";
}

img {
    display: block;
    border: none
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

.clearfix::after {
    content: '.';
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
    font-size: 0;
}

b,
em,
i {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}
input{
    outline:none;
}